{
	"useTabs": true,
	"singleQuote": true,
	"tabWidth": 2,
	"semi": false,
	"trailingComma": "none",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte"],
	"singleAttributePerLine": true,
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
